<%= form_with(model: salon, local: true) do |form| %>
  <% if salon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salon.errors.count, "error") %> prohibited this salon from being saved:</h2>

      <ul>
      <% salon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>Comapny Name: <%= form.text_field :company_name%></div>
  <div>GSTIN: <%= form.text_field :gstin %></div>
  <div>Pan Number: <%= form.text_field :pan_number %></div>
  <div>Address: <%= form.text_area :address %></div>
  <div>No. of Chairs: <%= form.text_field :no_of_chairs %></div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
